
<div
    class="w-4/5 mx-auto flex flex-col items-center content-center ">

    <div class="grid md:grid-cols-4 gap-x-7 gap-y-6 sm:grid-cols-3 mb-10">
        <div
            class="card w-44 bg-info-content shadow-xl bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-40 border border-gray-100 hover:scale-110 ease-in duration-200 "
            *ngFor="let p of pokemones">
            <figure class="px-10 pt-10">
                <img [src]="getImageUrl(getId(p))"
                    alt="Shoes" class="rounded-md" />
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title">{{p.name}}</h2>
                <h3 class="font-bold">#{{getId(p)}}</h3>
                <!-- <button class="btn btn-primary">{{getId(p)}}</button> -->
            </div>
        </div>
    </div>
</div>
